/*
MOOD Framework :: @lickybuay
m = Margin / p = Padding / s = Size
ml = Margin Left   /   mr = Margin Right
mt = Margin Top   /    mb = Margin Bottom
pl = Padding Left   /   pr = Padding Right
pt = Padding Top   /    pb = Padding Bottom
dn = Display None
.al = Align Left
.ar = Align Right
.aj = Align Justify
.ac = Align Center
*/

//MIXIN

@mixin selecolor($bgcolor, $color) {
	::-moz-selection { background: $bgcolor; color: $color; text-shadow: none; }
	::selection { background: $bgcolor; color: $color; text-shadow: none; }
}

//How tu use: @include fontface('../','helvetica_light-normal-webfont','helveticalight');
@mixin fontface($path, $name, $alias, $style:normal) {
	@font-face {
		/*
	    font-family: $alias;
	    src: url($path+$name+'.eot');
	    src: url($path+$name+'.eot?#iefix') format('embedded-opentype'),
	         url($path+$name+'.woff') format('woff'),
	         url($path+$name+'.ttf') format('truetype'),
	         url($path+$name+'.svg#'+$alias) format('svg');
	    font-weight: normal;
	    font-style: $style;
	    */
		font-family: $alias;
		src: url($path+$name+'.eot'); /* IE9 Compat Modes */
		src: url($path+$name+'.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url($path+$name+'.woff') format('woff'), /* Modern Browsers */
		url($path+$name+'.ttf')  format('truetype'), /* Safari, Android, iOS */
		url($path+$name+'.svg#svgFontName') format('svg'); /* Legacy iOS */
	}
}

//How tu use: @include redondeado(lefttop, rightop, leftdown, rightdown);	
@mixin border-radius($leftop, $rightop:0, $leftdown:0, $rightdown:0) {
	@if $rightop==0 { $rightop:$leftop; }
	@if $leftdown==0 { $leftdown:$leftop; }
	@if $rightdown==0 { $rightdown:$leftop; }
	-webkit-border-radius: $leftop+px $rightop+px $leftdown+px $rightdown+px;
    -moz-border-radius: $leftop+px $rightop+px $leftdown+px $rightdown+px;
    border-radius: $leftop+px $rightop+px $leftdown+px $rightdown+px;
}

@mixin gradient ($inicio, $fin) {
	//How tu use: @include gradient(#topcolor, #endcolor);
	background: $inicio;
	//filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$inicio, endColorstr=$fin);
	background: -webkit-gradient(linear, 0 0, 0 bottom, from($inicio), to($fin));
	background: -webkit-linear-gradient($inicio, $fin);
	background: -moz-linear-gradient($inicio, $fin);
	background: -ms-linear-gradient($inicio, $fin);
	background: -o-linear-gradient($inicio, $fin);
	background: linear-gradient($inicio, $fin);
	//-pie-background: linear-gradient($inicio, $fin);
}

@mixin transition($seg:200ms, $trans:all, $motion:ease) {
	//How tu use: @include easing(2s, "width", "linear");
	-webkit-transition: $trans $seg $motion;  
	-moz-transition: $trans $seg $motion;  
	-o-transition: $trans $seg $motion;  
	transition: $trans $seg $motion;
	//Previene el parpadeo en varios navegadores
	-webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

//How tu use: @include inputdefault('Arial', 12px);
@mixin inputdefault($font, $fontsize) { input, textarea, buttom, select { font-family: $font; font-size: $fontsize; } }

//How tu use: @include piecss();
@mixin piecss() { 
	.lt-ie8 &, .lt-ie7 & { behavior: url(PIE.php); }
}

//How tu use: @include borderbox();
@mixin borderbox(){
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

//How tu use: @include fullwidth();
@mixin fullwidth() {
  width: 100%;
  display: block;
  @include borderbox();
  @extend .clear;
}

//Al agregar el inline-block(), le agrega el margin-left negativo -4.
//Si uno cuenta con un valor de margin-left, utilizar inline-block(true).
@mixin inline-block($margin:false){ //InlineBlock
	display: inline-block;
	vertical-align: top;
	@if $margin==true { margin-left: -4px; }
	.lt-ie8 &, .lt-ie7 & { float: left; }
}

//How tu use: @include font-size(14px); If the browser support it will add the size using em.
@function em($tamaniopx, $base:12px){ @return ($tamaniopx/$base)*1em; }
@mixin font-size($size) { font-size: $size; font-size: em($size); }

h1, h2, h3, ul, p { padding: 0; margin: 0; font-weight: normal; }
a { text-decoration: none; }

//MIXIN
.left  { float: left; }
.right { float: right; }
.posrel { position: relative; }
a:hover, label, input[type="button"]:hover, input[type="submit"]:hover { cursor: pointer; }
.dn { display: none; }

.al { text-align: left; }
.ar { text-align: right; }
.aj { text-align: justify; }
.ac { text-align: center; }

fieldset { border: 0; margin: 0; padding: 0; }
textarea { resize: vertical; }

a { text-decoration: none; }
.divcentrado { margin-left: auto; margin-right: auto; }
.clear { 
  	//Clearing floats like a boss: goo.gl/zm1oD
	zoom: 1;
  	&:before, &:after { display: table; content: ""; }
  	&:after { clear: both; }
}
.full { @include fullwidth; }

/*LINE HEIGHT*/
.lh18 { line-height: 18px; }
.lh24 { line-height: 24px; }
.lh36 { line-height: 36px; }

/*MARGIN*/
.m0 { margin: 0; }
.m5  { margin: 5px; }
.m10 { margin: 10px; }
.m15 { margin: 15px; }
.m20 { margin: 20px; }

.mt0 { margin-top: 0; }
.mr0 { margin-right: 0; }
.mb0 { margin-bottom: 0; }
.ml0 { margin-left: 0; }
@for $i from 1 through 10 {
	.mt#{($i*10)} { margin-top: ($i*10)+px; }
	.mr#{($i*10)} { margin-right: ($i*10)+px; }
	.mb#{($i*10)} { margin-bottom: ($i*10)+px; } 
	.ml#{($i*10)} { margin-left: ($i*10)+px; }
}

/*PADDING*/
.p0 { padding: 0; }
.p5  { padding: 5px; }
.p10 { padding: 10px; }
.p15 { padding: 15px; }
.p20 { padding: 20px; }

.pt0 { padding-top: 0; }
.pr0 { padding-right: 0; }
.pb0 { padding-bottom: 0; }
.pl0 { padding-left: 0; }
@for $i from 1 through 10 {
	.p#{($i*5)} { padding: ($i*5)+px; }
	.pt#{($i*5)} { padding-top: ($i*5)+px; }
	.pr#{($i*5)} { padding-right: ($i*5)+px; }
	.pb#{($i*5)} { padding-bottom: ($i*5)+px; }
	.pl#{($i*5)} { padding-left: ($i*5)+px; }
}

/*TAMANOS - S960*/
//Add the class with the size you want. Ex: s260 (Size 260px);
@for $i from 1 through 48 { .s#{($i*10)} { width: ($i*10)+px; } }
