#paginacion ul li a.activo {
	background-color: #6f6f6f;
	color: #FFF;
	border-color: #6f6f6f;
}

.linea-gris.btn-susc {
	position: absolute;
	right: 0;
	top: -45px;
	font-size: 16px;
	text-transform: none;
	padding: 7px 10px;
}

fieldset.filter {
	position: relative;
}

.texto-corrido img {
	max-width: 100%;
}

@media (max-width: 1199px) {
	.slick-slide img { max-width: 100%; }
}