.button_row { 
    display: block;
    margin-bottom: 6px;
}

#frm_datos td{
    padding:4px;
    vertical-align: middle;
}

select.error, span.error, textarea.error {
    background:none;
}

span.error {
    display:inline-block;
    padding:4px;
    color:#CC0000;
}

.file-info
{
    border:1px solid #ccc;
    padding:3px;
    background:#eee;   
    margin:3px;
}

.file-info img{
    margin:2px;
    width:99%;
}

#dv_formulario table{
	width:100%;
	margin-bottom:10px;
}

#dv_formulario table td img{
	vertical-align:middle;
}

#dv_formulario table td.row-buttons{
	text-align:right;
}